header nav {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    border-bottom: 2px solid goldenrod;
    margin-bottom: 1rem;
}

header nav a {
    text-decoration: none;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 0.2rem;
}

header nav a.active {
    background: red;
}

main {
    max-width: 1200px;
    margin: 40px auto;
}